In [1]:
# Import libraries
import pandas as pd
import numpy as np
import glob
import os

In [5]:
# Read in csvs of ERI PI publications (09-14 | 14-19) from Dimensions to a single dataframe (all_data)
all_data = pd.DataFrame()
for f in glob.glob("data/publications/ERI-publications-09-14/ERI-publications/*.csv"):
    #df = pd.read_csv(f,index_col=None,skiprows=1)
    df = pd.read_csv(f,index_col=0,header=1)
    df['filename'] = os.path.basename(f)
    all_data = all_data.append(df,ignore_index=True, sort=False)
#all_data.head()
len(all_data)

13383

In [20]:
# Subset dataframe (all_data) to only include records (2009-2014 | 2014-2019) for all PIs and return count of pubs
subset = all_data[(all_data.PubYear>=2009.0)&(all_data.PubYear<=2014.0)]
#subset.dtypes
#subset.head()
len(subset)
subset.to_csv("data/publications/ERI-publications-2009-2014_processed.csv")

3192

In [3]:
# Load subset dataframe for all ERI (09-14 | 14-19)
subset_data_09 = pd.read_csv("data/publications/k-ERI-publications-2009-2014_cleaned.csv")
#pi_data_09 = subset_data_09[(subset_data_09.filename=="David-A-Siegel.csv")]
subset_data_14 = pd.read_csv("data/publications/k-ERI-publications-2014-2019_cleaned.csv")
#pi_data_14 = subset_data_14[(subset_data_14.filename=="David-A-Siegel.xlsx")]
len(subset_data_14)

2426

In [4]:
# Read in ERI or PI Field of Research (FOR) divisions and groups (146)
# CHANGE all_codes_ERI = accordingly for all of ERI (subset_data_09 | _14) or for specific PI (pi_data_09 |_14)
all_codes_ERI = subset_data_14['FOR (ANZSRC) Categories']
split_codes_ERI = all_codes_ERI.str.split(pat=";",expand=True).stack()
values_ERI = split_codes_ERI.value_counts().keys().tolist()
counts_ERI = split_codes_ERI.value_counts().tolist()
research_codes_ERI = pd.DataFrame(list(zip(values_ERI,counts_ERI)),columns=['Code','Count'])
research_codes_ERI['Label']=research_codes_ERI['Code'].str.extract('(\w+)', expand=True)
#research_codes_ERI['ID']=research_codes_ERI['Code'].str.extract('([^.0-9])', expand=True)
#research_codes_ERI['ID']
rc_grouped = research_codes_ERI.groupby(['Label'],as_index=False)['Count'].sum().sort_values(by=['Count'],ascending=False)
sorted_rc = research_codes_ERI.sort_values('Count',ascending=False).drop_duplicates(['Label'])
sorted_rc[['id','name']] = sorted_rc["Code"].str.split(n=1, expand=True)
sorted_rc.head()
#sorted_rc.to_csv('publications/ERI-publications-FOR-codes.csv')
#sorted_rc.shape

,Code,Count,Label,id,name
0,06 Biological Sciences,688,06,06,Biological Sciences
1,04 Earth Sciences,554,04,04,Earth Sciences
3,0403 Geology,417,0403,0403,Geology
4,0502 Environmental Science and Management,338,0502,0502,Environmental Science and Management
5,0602 Ecology,305,0602,0602,Ecology

In [5]:
# Split ERI FOR codes into divisions and groups ('division','group','label','count')
# CHANGE filename of treemap file accordingly when saving out csv file
new_codes = pd.DataFrame(columns=['division','group','label','count'])
new_codes['label'] = sorted_rc['Label'].astype('int64')

def catdiv(c):
    if (((c['label'] >= 100) & (c['label'] <= 199)) | (c['label'] == 1)):
        return 'Mathematical Sciences'
    elif (((c['label'] >= 200) & (c['label'] <= 299)) | (c['label'] == 2)):
        return 'Physical Sciences'
    elif (((c['label'] >= 300) & (c['label'] <= 399)) | (c['label'] == 3)):
        return 'Chemical Sciences'
    elif (((c['label'] >= 400) & (c['label'] <= 499)) | (c['label'] == 4)):
        return 'Earth Sciences'
    elif (((c['label'] >= 500) & (c['label'] <= 599)) | (c['label'] == 5)):
        return 'Environmental Sciences'
    elif ((c['label'] >= 600) & (c['label'] <= 699)) | (c['label'] == 6):
        return 'Biological Sciences'
    elif (((c['label'] >= 700) & (c['label'] <= 799)) | (c['label'] == 7)):
        return 'Agricultural and Veterinary Sciences'
    elif (((c['label'] >= 800) & (c['label'] <= 899)) | (c['label'] == 8)):
        return 'Information and Computing Sciences'
    elif (((c['label'] >= 900) & (c['label'] <= 999)) | (c['label'] == 9)):
        return 'Engineering'
    elif (((c['label'] >= 1000) & (c['label'] <= 1099)) | (c['label'] == 10)):
        return 'Technology'
    elif (((c['label'] >= 1100) & (c['label'] <= 1199)) | (c['label'] == 11)):
        return 'Medical and Health Sciences'
    elif (((c['label'] >= 1200) & (c['label'] <= 1299)) | (c['label'] == 12)):
        return 'Built Environment and Design'
    elif (((c['label'] >= 1300) & (c['label'] <= 1399)) | (c['label'] == 13)):
        return 'Education'
    elif (((c['label'] >= 1400) & (c['label'] <= 1499)) | (c['label'] == 14)):
        return 'Economics'
    elif (((c['label'] >= 1500) & (c['label'] <= 1599)) | (c['label'] == 15)):
        return 'Commerce, Management, Tourism and Services'
    elif (((c['label'] >= 1600) & (c['label'] <= 1699)) | (c['label'] == 16)):
        return 'Studies in Human Society'
    elif (((c['label'] >= 1700) & (c['label'] <= 1799)) | (c['label'] == 17)):
        return 'Psychology and Cognitive Sciences'
    elif (((c['label'] >= 1800) & (c['label'] <= 1899)) | (c['label'] == 18)):
        return 'Law and Legal Studies'
    elif (((c['label'] >= 1900) & (c['label'] <= 1999)) | (c['label'] == 19)):
        return 'Studies in Creative Arts and Writing'
    elif (((c['label'] >= 2000) & (c['label'] <= 2099)) | (c['label'] == 20)):
        return 'Language, Communication, and Culture'
    elif (((c['label'] >= 2100) & (c['label'] <= 2199)) | (c['label'] == 21)):
        return 'History and Archaeology'
    elif (((c['label'] >= 2200) & (c['label'] <= 2299)) | (c['label'] == 22)):
        return 'Philosophy and Religious Studies'
    else:
        return 'Undefined'

def catgrp(x):
    if ((x['label'] >= 1) & (x['label'] <= 22)):
        return 'Undefined'
    else:
        return sorted_rc['Code']

new_codes['division'] = new_codes.apply(catdiv, axis=1)
new_codes['group'] = sorted_rc['name']
new_codes['count'] = sorted_rc['Count']
new_codes.sort_values('group')
#new_codes.shape
new_codes.to_csv("data/publications/ERI-publications-2009-2014-treemap-deduplicated.csv")
#filtered_codes = new_codes['label']> 22
#filtered_codes = new_codes['count']> 1
#new_codes['count'] = new_codes[filtered_codes]
new_codes.head()
#new_codes_filtered.sort_values('label')

                 division                                 group  label  count
0     Biological Sciences                   Biological Sciences      6    688
1          Earth Sciences                        Earth Sciences      4    554
3          Earth Sciences                               Geology    403    417
4  Environmental Sciences  Environmental Science and Management    502    338
5     Biological Sciences                               Ecology    602    305

In [22]:
# Create a dataframe merging both review periods by an outer join on labels field (NA is 0 if FOR code missing)
all_data_09 = pd.read_csv("data/publications/ERI-publications-2009-2014-treemap-deduplicated.csv",index_col=0)
all_data_14 = pd.read_csv("data/publications/ERI-publications-2014-2019-treemap-deduplicated.csv",index_col=0)

merge_all_data = pd.merge(all_data_14,all_data_09[['label','count']],on='label',how='outer',suffixes=('_14_19','_09_14'))
merge_all_data['count_14_19'].fillna(0, inplace=True)
merge_all_data['count_09_14'].fillna(0, inplace=True)
merge_all_data['difference'] = merge_all_data['count_14_19'] - merge_all_data['count_09_14']

sum_09 = merge_all_data['count_09_14'].sum()
sum_14 = merge_all_data['count_14_19'].sum()

merge_all_data['norm_09_14'] = merge_all_data['count_09_14'] / sum_09
merge_all_data['norm_14_19'] = merge_all_data['count_14_19'] / sum_14

merge_all_data['norm_diff'] = merge_all_data['norm_14_19'] - merge_all_data['norm_09_14']
clean_merge = merge_all_data.dropna(how='any')
clean_merge
clean_merge.to_csv("data/publications/ERI-publications-2019-2009-difference-treemap-deduplicated-V2.csv")