In [1]:
# Import libraries
import pandas as pd
import numpy as np
import glob
import os

In [18]:
# Load dataframes for all ERI funded projects (09-14 | 14-19)
data_09 = pd.read_csv("data/projects/ERI-funded-projects-basic-2009-2014.csv")
data_14 = pd.read_csv("data/projects/ERI-funded-projects-basic-2014-2019.csv")
#data_09.head()
data_14.head()

,amount,agency,relationship
0,8250820,National Science Foundation,Federal agencies
1,280000,National Science Foundation,Federal agencies
2,2613461,Purdue University,Institutes of higher education
3,357736,National Aeronautics and Space Administration,Federal agencies
4,185621,National Science Foundation,Federal agencies

In [49]:
# Group by agency, sum ($) and count
agency_sum_09 = data_09.groupby(['agency','relationship'],as_index=False)['amount'].sum()
agency_count_09 = data_09.groupby(['agency','relationship'],as_index=False)['amount'].count()
agency_sum_14 = data_14.groupby(['agency','relationship'],as_index=False)['amount'].sum()
agency_count_14 = data_14.groupby(['agency','relationship'],as_index=False)['amount'].count()
agency_sum_14.sort_values('amount',ascending=False)
agency_sum_09.to_csv("data/projects/ERI-projects-2009-2014-sum.csv")
agency_count_09.to_csv("data/projects/ERI-projects-2009-2014-count.csv")
agency_sum_14.to_csv("data/projects/ERI-projects-2014-2019-sum.csv")
agency_count_14.to_csv("data/projects/ERI-projects-2014-2019-count.csv")

In [54]:
# Summarize by relationship
rel_sum_09 = data_09.groupby(['relationship'],as_index=False)['amount'].sum()
rel_count_09 = data_09.groupby(['relationship'],as_index=False)['amount'].count()
rel_sum_14 = data_14.groupby(['relationship'],as_index=False)['amount'].sum()
rel_count_14 = data_14.groupby(['relationship'],as_index=False)['amount'].count()
rel_count_09

                           relationship  amount
0  California state, municipal agencies      33
1                      Federal agencies     184
2        Institutes of higher education      59
3            Private agency, foundation      41
4                               UC-wide      31

In [ ]:
# Create a dataframe merging both review periods by an outer join on labels field (NA is 0 if FOR code missing)
merge_all_data = pd.merge(agency_grouped_14,agency_grouped_09[['label','count']],on='label',how='outer',suffixes=('_14_19','_09_14'))